body{
  margin-left: 150px;
  margin-right: 300px;
  min-width: 400px;
  max-width: 1000px;
  font-size: large;
  padding-bottom: 400px;
  padding-top: 120px;
  font-family: arial;
  
  
}

.links{
  height: 50px;
  background-color: azure;
  padding-left: 20px;
  position: relative;
  display: flex;
  align-items: center;

}
.big-head{

  top:0;  
  border-bottom:1px solid red;  
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: rgb(192,192,192);
  position: fixed;
  width: 72%;
  min-width: 400px;
  max-width: 1000px;
  z-index: 100; /* making the footer and body slide beneath the header */
 
  
 
}
.links a:hover{
				
  text-decoration: overline;
  color: orange;
  padding-right:10px;
  width:450px;
 
}
.links a:active{
  color:green;
  text-decoration: none;

}
a{
  text-decoration: none;
}

				
.twit{
  background-color: skyblue;
  color:white;
  border:none;
  border-radius: 40px;
  height: 25px;
  width:70px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}

footer{
  background-color:greenyellow;
  height: 80px;
  bottom: 60px;
  position: relative;
  width: 98%;
  padding-top: 20px;
  top:10px;
  bottom: 0px;
  margin-top: 50px;
  
}

.span-mail:hover ,.span-twitter:hover{
  color: red;
  cursor: pointer;
}