.links{
  height: 50px;
  background-color: azure;
  padding-left: 20px;
 
  
}

.links a:hover{
				
  text-decoration: overline;
  color: orange;
  padding-right:10px;
  width:450px;
 
}
.links a:active{
  color:green;
  text-decoration: none;

}

				
.twit{
  background-color: skyblue;
  color:white;
  border:none;
  border-radius: 40px;
  height: 25px;
  width:70px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
}