.links{
  height: 50px;
  background-color: azure;
  padding-left: 20px;
 
  
}

a:hover{
				
  text-decoration: overline;
  color: orange;
  padding-right:10px;
  width:450px;
 
}
a:active{
  color:green;
  text-decoration: none;

}	
 
 

