body{
  margin-left: 150px;
  margin-right: 300px;
  min-width: 500px;
}
.links{
  height: 50px;
  background-color: azure;
  padding-left: 20px;
 
  
}

a:hover{
				
  text-decoration: overline;
  color: orange;
  padding-right:10px;
  width:450px;
 
}
a:active{
  color:green;
  text-decoration: none;

}	
fieldset{
 
  border: 1px solid red;
                
  
}


label{
  margin-bottom: 10px;
  display: flex;
  margin-left: 30px;
  display: block;
}

input[type="submit"]{
  background-color: #3c367f;
  border-color: white;
  margin: 1em auto;
  color: white;
  font-size: 1.1rem;  
  height: 2em;
  border-radius: 10%;
  display: block;
  width: 20%;
  

}
.footer{
  background-color:greenyellow;
  height: 40px;
  bottom: 60px;
  position: fixed;
  width: 70%;
  padding-top: 20px;
}
 
 

