body{
  margin-left: 100px;
  margin-right: 300px;
  min-width: 400px;
  font-size: large;
  


}
.cover-image{
  width: 100%;
  object-fit: fill;
}

.header-text{
  background: darkorange;
  
  font-kerning: 50px;
  font-family: algerian;  
  font-size: 30px;  
  font-weight: bold;
 width: 70%;
 padding-left: 200px;
 margin-left: 100px;
 
  
}

.links a:hover{
				
  text-decoration: overline;
  color: orange;
  padding-right:10px;
  width:150px;
}
.links a:active{
  color:green;
  text-decoration: none;

}	

.links{
  height: 50px;
  background-color: azure;
  padding-left: 20px;
  
}
.footer{
  background-color:greenyellow;
  height: 40px;
  bottom: 0;
  position: fixed;
  width: 70%;
  padding-top: 20px;
}
.span-here:hover{
  color: red;
}
