body{
  margin-left: 100px;
  margin-right: 300px;
  min-width: 400px;
  max-width: 1200px;
  font-size: large; 
  padding-top: 140px;
  font-family: arial;
  padding-bottom: 150px;
}

.links{  
  height: 50px;
  background-color: azure;
  padding-left: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

a:hover{
				
  text-decoration: overline;
  color: orange;
  padding-right:10px;
  width:150px;
}
a:active{
  color:green;
  text-decoration: none;

}	
a{
  text-decoration: none;
}

.storey:hover,.class:hover,.roof:hover,.solar:hover,.gate:hover,.hse:hover{
  transform: scale(1.1);
  
}
.storey,.class,.roof,.hse{
  width: 100%;
  object-fit:cover;
  height: 100%;
  border: 1px solid gray;
  
}



.product-images{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr; 
 row-gap: 10px;
 column-gap: 5px;
 margin-bottom: 110px;

}
.footer{
  background-color:greenyellow;
  height: 40px;
  bottom: 450px;
  position: relative;
  width: 100%;
  padding-top: 20px;
  top:0;
}

.big-head{
  margin-bottom: 50px;
  background-color:white;
  position: fixed;
  top:0px;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-bottom-color: rgb(192,192,192);
  z-index: 100;   
  min-width: 400px;
  max-width: 1200px;
  width: 77.3%;
    
  
  }

  .span-maz:hover{
    font-weight: bold;
    color: #000000;
    transition: 0.3s;
  }


